
.file-path-input {
    width: 50;
    background: $surface;
}

.file-path-browse-button {
    width: 20%;
}

Input {
    background: #883322;
}

Button {
    background: $secondary;
}

.static-text {
    color: #FFFFFF;
}

.grid-label {
    color: #111111;
    content-align: right top;
    background: $background;
    width: 100%;
    height: 100%;

}